@import '@/uni_modules/lime-style/index.scss';
/* #ifdef  uniVersion >= 4.75 */ 
$use-css-var: true;
/* #endif */
$name: #{$prefix}-swipe-cell;

.#{$name} {
	position: relative;
	overflow: hidden;
	&__wrapper {
		overflow: visible;
		transition-duration: 0ms;
		transition-property: transform;
		transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1);
	}
	&__left,
	&__right {
		display: flex;
		position: absolute;
		top: 0;
		height: 100%;
		flex-direction: row;
	}
	
	&__left {
	    left: 0;
		/* #ifndef UNI-APP-X && APP */
	    transform: translate3d(-100%, 0, 0);
		view {
			flex-direction: row;
		}
		/* #endif */
		/* #ifdef UNI-APP-X && APP */
		transform: translate(-100%, 0);
		/* #endif */
	}
	
	&__right {
	    right: 0;
		/* #ifndef UNI-APP-X && APP */
	    transform: translate3d(100%, 0, 0);
		view {
			flex-direction: row;
		}
		/* #endif */
		/* #ifdef UNI-APP-X && APP */
		transform: translate(100%, 0);
		/* #endif */
	}
	
	&__content {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    padding: 0 $spacer-sm;
	}
	
	// &__icon {
	//     font-size: $font-size-xl;
	// }
	/* #ifndef UNI-APP-X && APP */
	// &__icon + &__text:not(:empty) {
	//     margin-left: $spacer;
	//     font-size: $font-size;
	//     line-height: 44rpx;
	// }
	/* #endif */
}