.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-icon {
  font-family: my-icon;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}